<!-- clients.component.html -->
<div class="">
  <div class="table-top-wrapper d-flex justify-content-between">
    <div class="table-filter-field">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      <button class="m-2"
        mat-fab
        (click)="loadClients()"
        color="primary">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div class="table-actions-wrapper">
      <button class="" 
        (click)="openDialog()"
        mat-fab color="primary"
      ><mat-icon>add</mat-icon></button>
    </div>
  </div>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>
  
      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
        <td mat-cell *matCellDef="let row"> {{row.phoneNumber}} </td>
      </ng-container>
  
      <!-- Buttons Column -->
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell class="th-center" *matCellDef="let row">
          <div class="d-flex gap-3">
            <button class="table-icon-btn" 
              mat-raised-button
              color="primary"
              (click)="openDialog(row)"
            >
              <mat-icon>create</mat-icon>
            </button>
            <button class=" table-icon-btn"
              mat-raised-button
              color="warn"
              tabindex="0"
              (click)="deleteClient(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of clients"></mat-paginator>
  </div>
</div>
